[submodule "inc/GRMustache"]
	path = inc/GRMustache
	url = https://github.com/groue/GRMustache
[submodule "inc/json-framework"]
	path = inc/json-framework
	url = https://github.com/stig/json-framework.git
